@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  /*html {*/
  /*  @apply flex justify-center*/
  /*}*/

  body {
    @apply max-w-[1800px] m-auto text-base h-svh bg-[#E0E7F1] dark:bg-zinc-900;

    & #root {
      @apply h-full w-full;
    }
  }

  :root {
    --base-padding: 2px;
    --base-text-size: 1rem;
    --base-line-height: 1.375;
    --text-box-height: 56px;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .home_header {
    @apply flex justify-between;
  }

  .text_box {
    background: transparent;
    overflow: auto;
    max-height: 300px;
    line-height: var(--base-line-height);
    white-space: pre-wrap;
    outline: none;
    height: auto;
    padding: calc((3.5rem - 1rem * 1.375) / 2) 16px
      calc((3.5rem - 1rem * 1.375) / 2) 0;
    /*padding: calc((var(--text-box-height) - var(--base-text-size) * var(--base-line-height)) / 2) 0;*/
  }

  .text_box__placeholder {
    position: absolute;
    line-height: var(--base-line-height);
    top: calc(
      (var(--text-box-height) - var(--base-text-size) * var(--base-line-height)) /
        2
    );
    color: rgb(107 114 128);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
}
